.router-link {
  font-family: "SimSun", "STSong", serif;
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid #000;
  margin-right: 10px;
}

/* 选中状态 这个 class 是自动获得的 */
.router-link-active {
  background-color: #ccc;
}

.nav-container {
  margin-bottom: 10px;
}

h2.tool_title {
  color: red;
  margin-bottom: 10px;
}

h1, h2, p, label, .stranded-input, .stranded-button {
  font-family: "SimSun", "STSong", serif;
}

input[type="file"] {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

progress {
  width: 256px;
  color: blue;
  margin-right: 10px;
}

.stranded-input {
  font-size: 16px;
  padding: 2px 5px;
  margin: 5px;
}

.stranded-button {
  font-size: 18px;
  padding: 5px 10px;
  margin: 4px 8px 4px 0;
}